* {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.floating-windows::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.floating-windows {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

textarea,
input {
  font-weight: normal !important;
  transition: 0.3s;
  outline: none;
  border: 2px solid lightgray;
  border-radius: 3px;
}

body {
  display: flex;
  flex-direction: row;
}

.navbar {
  width: 100%;
  border-radius: 10px;
  background-color: #ffff;
  border: 5px solid #3A57E8;
  color: #3a57e8;
  padding: 0;
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar-brand {
  font-size: 24px;
  padding: 15px;
}

/* div {
    display: flex;
    flex-direction: column;
} */

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-flex !important;
  align-items: center;
}

.hidden {
  display: none !important;
}

.icons {
  width: 42px;
  margin: 0;
}

li {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

img {
  float: left;
  margin-right: 25px;
}

.childs-p1 * {
  padding-top: 8px;
}

.l-menu {
  width: 16%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  border-right: 5px solid rgba(28, 110, 164, 0.23);
  border-radius: 0px 10px 10px 0px;
  background-color: #fff;
}

.l-lists {
  width: 100%;
  margin: 20px auto;
  padding: 0;
}

.lists-rc {
  display: flex;
  flex-direction: column;
  align-items: center !important;
}

.lists-rl {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
}

.wo-dropdown,
.user-dropdown {
  align-items: flex-start;
  padding: 10px;
}

.user-dropdown .dropdown-content li {
  opacity: 0.5;
  pointer-events: none;
  position: relative;
}

.soon {
  position: absolute;
  top: 7vh;
  align-self: center;
  color: #3a57e8;
  text-shadow: 0px 0px 20px rgb(33 5 5);
  text-orientation: sideways;
  font-size: 1.3em;
  transform: rotate(-20deg);
}

.icon-p1 {
  padding-right: 8px;
}

.dropdown-content {
  display: none;
  position: relative;
  min-width: fit-content;
  z-index: 0;
  padding: 15px 10px;
  animation: slide-down1 0.4s ease-out;
}

.dropdown-content.show {
  display: flex;
  animation: slide-down 0.4s ease-out;
  flex-direction: column;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slide-down1 {
  from {
    opacity: 1;
    transform: translateY(0px);
  }

  to {
    opacity: 0;
    transform: translateY(-10px);
  }
}

.car-services li {
  padding: 10px;
}

/* button animations  */

/* 1st */
.css-button-sliding-to-left--sky {
  width: 14vw;
  height: fit-content;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #3a57e8;
  color: #3a57e8;
}

.css-button-sliding-to-left--sky:hover {
  color: #fff;
}

.css-button-sliding-to-left--sky:hover:after {
  width: 100%;
}

.css-button-sliding-to-left--sky:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background: #3a57e8;
}

/* 2nd */
.css-button-arrow--sky {
  width: 14vw;
  height: fit-content;
  color: #fff;
  padding: 5px 10px !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3a57e8;
}

.css-button-arrow--sky:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.css-button-arrow--sky:hover:after {
  opacity: 1;
  top: 4px;
}

.css-button-arrow--sky:after {
  content: "\21E3";
  position: absolute;
  opacity: 0;
  font-size: 26px;
  line-height: 40px;
  top: -30px;
  right: 15px;
  transition: 0.4s;
  padding-top: 8px;
}

/* 3th */
.css-button-sliding-to-left-low {
  width: fit-content;
  height: fit-content;
  color: #fff;
  padding: 5px 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  color: #3a57e8;
}

.css-button-sliding-to-left-low:hover {
  color: #526be6;
  text-shadow: 1px 1px white;
}

.css-button-sliding-to-left-low:hover:after {
  width: 100%;
}

.css-button-sliding-to-left-low:after {
  content: "";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
  left: 0;
  top: 50%;
  width: 0;
  height: 50%;
  background: #3a57e8;
}

/* 4th */
.css-button-arrow-d-sky {
  width: 14vw;
  height: fit-content;
  color: #fff;
  padding: 5px 10px !important;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #3a57e8;
}

.css-button-arrow-d-sky:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
}

.css-button-arrow-d-sky:hover:after {
  opacity: 1;
  top: 4px;
}

.css-button-arrow-d-sky:after {
  content: "\21E1";
  position: absolute;
  opacity: 0;
  font-size: 26px;
  line-height: 40px;
  top: -30px;
  right: 15px;
  transition: 0.4s;
  padding-top: 8px;
}

.main-container {
  width: 100%;
  height: 98vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media only screen and (max-width: 480px) {

  .navbar-brand {
    font-size: 5vw !important;
    padding: 10px !important;
  }

  .drop-menu {
    padding: 10px 10px !important;
  }

  .l-menu {
    width: 70vw !important;
  }

  .l-lists button {
    width: 45vw !important;
  }

  .floating-windows {
    width: 85vw !important;
    height: 80vh !important;
    overflow: scroll;
    z-index: 10;
  }
}

@media only screen and (max-width: 768px) {

  .logo {
    display: none;
  }

  .dropdown-r button {
    width: fit-content !important;
  }

  .drop-menu {
    padding: 1vw 2vw;
  }

  .l-menu {
    position: fixed;
    top: 50%;
    left: 50%;
    height: fit-content;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 60vw;
    animation: slideIn 0.4s forwards;
  }

  .drop-menu {
    visibility: visible !important;
  }

  .l-lists {
    display: flex;
    flex-direction: column;
    align-items: center !important;
  }

  .l-lists button {
    width: 35vw;
  }

  .navbar-brand {
    font-size: 3vw;
    padding: 15px;
    align-self: center;
  }

  .floating-windows input,
  .floating-windows textarea {
    width: 45vw !important;
  }

  .floating-windows h2 {
    margin-top: 10px !important;
  }

  .add-car-form, .add-worker-form {
    grid-auto-flow: row;
    grid-template-columns: 1fr !important;
    justify-items: center;
  }

 .add-car-form input,
 .add-car-form textarea,
 .add-car-form button {
    grid-column: 1 !important;
  }

  .car-list-window,
  .worker-list-window {
    width: 90vw !important;
    height: 90vh !important;
  }
}


@media only screen and (min-width: 769px) {

  .l-menu {
    width: 25vw;
  }

  .css-button-sliding-to-left--sky,
  .css-button-arrow--sky,
  .css-button-arrow-d-sky {
    width: 22vw;
  }
}

@media only screen and (min-width: 1024px) {

  /* Styles go here */
  .l-menu {
    width: 350px;
  }

  .css-button-sliding-to-left--sky,
  .css-button-arrow--sky,
  .css-button-arrow-d-sky {
    width: 250px;
  }

  .add-car-form {
    padding: 10px;
    gap: 20px !important;
  }

  .add-worker-form {

    row-gap: 40px !important;
  }
}

@media only screen and (max-width: 1024px) {
  .floating-windows input {
    width: 35vw;
    height: 30px;
  }

  .add-car-form {
    margin-top: 10px !important;
  }
}

.drop-menu {
  margin: 5px 10px;
  color: #3A57E8;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  visibility: hidden;
  border-radius: 8px;
  background-color: #FFFFFF;
}

.drop-menu:hover {
  color: #FFFFFF;
  background-color: #3A57E8;
  transition: 0.25s
}

.drop-menu i {
  scale: 1.8;
}

.slide {
  clear: both;
  width: 100%;
  height: 0px;
  margin: 0;
  overflow: hidden;
  text-align: center;
  transition: height .4s ease;
}

.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  color: #3a57e8 !important;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px;
  cursor: pointer;
}

.close-btn:hover {
  color: #FFFFFF !important;
  background-color: #3A57E8;

  transition: 0.25s;
}

.close-btn.hidden {
  display: none;
}

@keyframes slideIn {
  0% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0;
  }

  100% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
}

.floating-windows {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 60vw;
  height: fit-content;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.floating-windows h2 {
  padding-top: 20px;
  width: fit-content;
  margin: 0 auto;
  text-decoration-line: underline;
}

.floating-windows h2,
.floating-windows form button {
  color: #3a57e8 !important;
}

.floating-windows.slide-in {
  display: block !important;
  animation: slideIn 0.5s forwards;
}

.add-car-form {
  margin-top: 60px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: center;
  padding: 10px;
  gap: 8px;
}

.floating-windows input {
  width: 20vw;
  height: 30px;
}

input:focus,
input[type=file]:hover,
input[type=date]:hover,
textarea:focus {
  border: 2px solid #3a57e8;
}

.add-worker-form {
  margin-top: 45px;
  display: grid ;
  grid-template-columns: auto auto auto auto;
  justify-content: center;
  align-content: center;
  padding: 10px;
  gap: 10px;
  row-gap: 20px;
}


.add-car-form textarea {
  grid-column: 2/span 3;
  height: 70px;
}

.add-car-form button:hover,
.add-worker-form button:hover {
  color: #fff !important;
  background: #3a57e8;
}

.add-car-form button,
.add-worker-form button {
  padding: 5px 8px;
  margin-top: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  outline: none;
  border-radius: 5px;
  z-index: 0;
  background: #fff;
  overflow: hidden;
  border: 2px solid #3a57e8;
  color: #3a57e8;
  grid-column: 1 / -1;
  justify-self: center;
}

.add-worker-form select,
.add-worker-form button {
  margin-top: 20px;
}

.add-worker-form select {
  grid-column: 3/span 2;
  width: 10vw;
}

.add-worker-form input[type=file] {
  padding-left: 4px;
}

.dropdown-content {
  opacity: 1;
}  

/* .car-list-table {
  border: 1px solid black;
  border-collapse: collapse;
} */

.car-list-window,
.worker-list-window {
  overflow: scroll;
  height: 70vh;
}

.car-list-table {
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
}

.car-list-table td, .car-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.car-list-table tr:nth-child(even){background-color: #f2f2f2;}

.car-list-table tr:hover {background-color: lightblue;}

.car-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3a57e8; /* Changed to match your primary color */
  color: white;
}

.worker-list-table {
  margin-top: 15px;
  border-collapse: collapse;
  width: 100%;
}

.worker-list-table td, .worker-list-table th {
  border: 1px solid #ddd;
  padding: 8px;
}

.worker-list-table tr:nth-child(even){background-color: #f2f2f2;}

.worker-list-table tr:hover {background-color: lightblue;}

.worker-list-table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #3a57e8; /* Changed to match your primary color */
  color: white;
}